@model CondominioAp.Models.Despesas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Despesas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Despesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Despesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vencimento_Fatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vencimento_Fatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_Pagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_Pagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeId_unidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeId_unidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Despesa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
