@model CondominioAp.Models.Unidades

@{
    ViewData["Title"] = "Delete";
}
<div class="bg-secondary p-3">


<h3>Tem Certeza que deseja exluir essa Unidade?</h3>
<div>
    <h4>Unidades</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inquilinos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inquilinos.Email)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Unidade" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a class="btn btn-secondary"  asp-action="Index">Voltar</a>
    </form>
</div>
</div>
